@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased bg-slate-50;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;
  }
}

/* Assicura che Recharts abbia lo spazio necessario */
.recharts-responsive-container {
  min-height: 0;
  min-width: 0;
}