@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gradient-to-br from-indigo-600 to-blue-500;
}

h1 {
  @apply text-2xl font-semibold mb-4;
}

h2 {
  @apply font-semibold mb-2;
}

table {
  @apply min-w-full border-separate border-spacing-2;
}

th {
  @apply text-left px-4 py-2 border;
}

td {
  @apply text-center border px-2 py-2;
}

button {
  @apply px-4 py-2 rounded-xl transition-all;
}

.bg-white {
  @apply bg-white shadow-lg rounded-lg;
}

.cell-button {
  @apply w-full h-12 rounded-lg shadow-sm flex items-center justify-center transition;
}
